<nav>
    <ul id="nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/toto">Toto (Error)</a></li>
        <li><a href="/exos">exos</a></li>
        <li><a href="/countries">countries</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/user">Users</a></li>
    </ul>
</nav>